/* line styles */
.axis path,
.axis line { 
	fill: none;
	stroke: #333;
	shape-rendering: crispEdges;
}
/* labels */
.axis text {
	font-family: sans-serif;
	font-size: 10px;
}

.ylabel {
    font-family: sans-serif;
	font-size: 12px;
    writing-mode: vertical-lr;
}

.xlabel {
    font-family: sans-serif;
	font-size: 12px;
}

.tooltip{
	position:fixed;
	display:none;
	font-family: sans-serif;
	font-size: 12px;
	width: 150px;
	background-color: black;
	opacity: 0.65;
	color: white;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;

  }